@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;500;700&display=swap');

html, body {
    width: 100%;
    background-color: #202020;
    margin: 0;
    padding: 0;
    font-family: Prompt;
    text-align: center;
    color: #FFF8F0;
}

#welcome-splash {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: sticky;
}

#splash-img {
    filter: grayscale(55%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

#name {
    font-weight: 700;
    font-size: 6.667vw;
    color: #EFA00B;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    white-space: nowrap;
}

#splash-blurb {
    color: #FFF8F0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 1.667vw;
    font-weight: 200;
    margin-top: 5vw;
}

.header {
    color: #C1292E;
    font-size: 4.444vw;
}

.slide {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: #202020;
    max-width: 100%;
}

#work {
    background-color: #FFF8F0;
}

p {
    font-weight: 200;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.667vw;
}

.song-img {
    width: 15vw;
    border-radius: 50%;
    margin-right: 5vw;
    transition: 0.5s;
}

.song-img:last-child {
    margin-right: 0;
}

.song-img:hover {
    filter: grayscale(60%);
    width: 17vw;
}