@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@font-face {
    font-family: "Recoleta Regular";
    src: url("/Recoleta-Regular.otf") format("opentype");
}

@keyframes slide {
    0% {
        transform: translateX(-150%);
        opacity: 0%;
    }

    100% {
        transform: translateX(-90%);
        opacity: 100%;
    }
}

@keyframes fadein {
    0% {
        opacity: 0%
    }

    100% {
        opacity: 100%
    }
}

:root {
    --serif-font: "Lora";
    --sans-font: "Manrope";
    --dark: rgb(55, 55, 55);
    /* --light: #CFD4DD; */
    --light: white;
    --darker: rgb(20, 20, 20);
}

html, body {
    width: 100%;
    background-color: var(--dark);
    margin: 0;
    padding: 0;
    font-family: var(--serif-font);
    font-weight: 700;
    text-align: center;
    color: var(--light);
    font-size: 12px;
    /* overflow-x: clip; */
    scroll-snap-type: y mandatory;
}

p, ul {
    font-family: var(--serif-font);
    font-weight: 300;
    padding-left: 10%;
    padding-right: 10%;
    font-size: calc(1rem + 0.75vw);
    max-width: 50%;
    text-align: left;
    margin: 0 auto;
}

ul {
    padding-left: 12.5vw;
}

h1 {
    max-width: 50%;
    margin: 0 auto;
    text-align: left;
    font-size: calc(1.5rem + 1vw);
}

a {
    color: var(--dark);
    transition: 0.25s;
}

a:hover {
    font-weight: bold;
}


#splash-img {
    filter: brightness(30%) grayscale(100%) blur(5px);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* transition: filter 0.5s; */
}

.name {
    text-align: left;
    line-height: 0.9;
    font-weight: 700;
    font-size: calc(8rem + 1vw);
    color: var(--light);
    left: 50%;
    position: absolute;
    will-change: transform, opacity;
    opacity: 0;
    font-family: var(--serif-font);
    font-weight: 500;
    z-index: 1;
}

#first {
    top: 65vh;
    right: 0;
    animation: slide 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s forwards;
}

#last {
    top: 80vh;
    right: 0;
    animation: slide 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s forwards;
}


.slide {
    position: sticky;
    height: 100vh;
    max-width: 100%;
}

#content {
    padding-top: 2.5rem;
}

  #big-about {
    font-size: calc(0.5rem + 1vw);
    text-align: left;
    line-height: 1.5;
    max-width: 50%;
    margin: 0 auto;
    padding-top: 1em;
    font-weight: 300;
  }

  #white-bg {
    background-color: var(--light);
    color: var(--dark);
}

  #big-name {
    font-size: calc(5rem + 1vw);
    font-family: var(--sans-font);
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    color: var(--darker);
  }

  #content strong {
    color: var(--dark);
  }

  #date-time {
    text-align: center;
    font-size: calc(0.5rem + 0.75vw);
    font-family: var(--sans-font);
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }

/*
  #clock div {
    display: inline-flex;
  }

  #hours { color: red; }

  #minutes {color: purple; }

  #seconds {color: green;} */

  /* #clock p {
    margin-right: 0;
    padding-right: 0;
  } */

@media (width < 500px) {
    #splash-img {
        max-width: 100vw;
        padding: 0;
    }

    #date-time {
        width: 100vw;
        max-width: 100vw;
        padding: 0;
    }

    .name {
        font-size: calc(5rem + 0.75vw);
    }

    #first {
        top: 70vh;
    }

    #content {
        max-width: 100vw;
    }

    #big-name {
        font-size: calc(3rem + 1vw);
    }

    #big-about {
        font-size: calc(1rem + 1vw);
        max-width: 80vw;
    }
}