@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;700&family=Playfair+Display:wght@400;700&family=Prata&display=swap');

@keyframes slide {
    0% {
        transform: translateX(-150%);
        opacity: 0%;
    }

    100% {
        transform: translateX(-90%);
        opacity: 100%;
    }
}

@keyframes open {
    0% {
        opacity: 100%;
        width: 0%;
    }

    100% {
        opacity: 100%;
        width: 45%
    }
}

@keyframes fadein {
    0% {
        opacity: 0%
    }

    100% {
        opacity: 100%
    }
}

:root {
    --header-font: "Playfair Display";
    --body-font: "Manrope";
    --gold: #BA8926;
    --dark: #b0afaf;
    /* --light: #CFD4DD; */
    --light: white;
    --dark-hover: #1C2121;
}

html, body {
    width: 100%;
    background-color: var(--dark);
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-weight: 700;
    text-align: center;
    color: var(--light);
    font-size: 12px;
    /* overflow-x: clip; */
    scroll-snap-type: y mandatory;
}

p {
    font-family: var(--body-font);
    font-weight: 300;
    padding-left: 10%;
    padding-right: 10%;
    font-size: calc(1rem + 0.75vw);
}

a {
    text-decoration: none;
    color: var(--dark);
}

#welcome-splash {
    align-items: center;
    justify-content: center;
    width: 100vw;
    /* position: sticky; */
    border: none;
}

#splash-img {
    filter: brightness(30%) grayscale(100%);
    width: 100vw;
    /* padding-left: 5vw; */
    height: 100vh;
    object-fit: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    transition: filter 0.5s;
}

.name {
    text-align: left;
    line-height: 90%;
    font-weight: 700;
    font-size: calc(8rem + 1vw);
    color: var(--light);
    top: 50%;
    left: 50%;
    transform: translate(-90%, 30%);
    position: absolute;
    will-change: transform, opacity;
    opacity: 0;
}

#first {
    top: 55%;
    right: 0%;
    animation: slide 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s forwards;
}

#last {
    top: 70%;
    right: 0%;
    animation: slide 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s forwards;
}

/* #name-container {
    border-style:solid;
    border-radius: 10px;
    border-color: yellow;
} */

#underline {
    display: none;
    border: 3px solid var(--light);
    will-change: width, opacity;
    opacity: 0%;
    width: 0%;
    transform: translateY(-40vh);
    /* animation: open 2s ease-in-out 2.25s forwards; */
}

#splash-blurb {
    display: none;
    color: #FFF8F0;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 100%;
    font-style: italic;
    font-weight: 200;
    padding-left: 0;
    padding-right: 0;
    opacity: 0%;
    will-change: opacity;
    /* animation: fadein 2s ease-in-out 4.5s forwards; */
    
}

.header {
    color: var(--gold);
    font-size: calc(5.333rem + 1vw);
}

.slide {
    position: sticky;
    /* top: 0; */
    height: 100vh;
    /* background-color: var(--dark); */
    max-width: 100%;
    /* border-style: solid; */
    /* border-color: var(--gold); */
    /* scroll-snap-align: center; */
}

#work {
    /* background-color: var(--light); */
    min-height: 100vh;
    overflow-y: scroll;
}

#song-carriage {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    column-gap: 10vw;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: center;
}

.song-img {
    width: 15vw;
    border-radius: 50%;
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

.song-link {
    width: 15vw;
    margin: 0;
    padding: 0;
}

.song-img:hover {
    filter: brightness(50%);
    width: 16vw;
}

#work-grid-container {
    /* display: grid; */
    /* position: absolute; */
    /* margin-left: 10vw; */
    /* margin-right: 10vw; */
    /* justify-content: center; */
    max-width: 100vw;
    /* grid-template-columns: auto auto auto; */
    /* align-content: center; */
    /* overflow-y:scroll; */
    display: inline-block;
}

/* #grid-scroll-container {
    overflow-y: scroll;
} */

.work-grid-item {
    background-color: var(--dark);
    width: calc(50rem + 1vw);
    height: calc(25rem + 1vw);
    min-width: calc(15rem + 1vw);
    min-height: calc(9rem + 1vw);
    justify-content: center;
    /* align-items: center; */
    /* align-content: center; */
    margin: calc(1.667rem + 1vw);
    /* margin: 20px; */
    /* border-radius: ; */
    box-shadow: inset 0 0 0 0 var(--dark-hover);
    /* box-shadow: inset 0 0 0 0 #C1292E; */
    transition: 0.25s;
    border-color: var(--gold);
    border-style: outset;
}

.work-grid-item:hover {
    box-shadow: inset calc(50rem + 1vw) 0 0 var(--dark-hover);
}

.grid-item-txt {
    font-style: italic;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
}

.grid-item-h1 {
    font-size: calc(5rem)
}

.inner-link {
    text-decoration: underline;
}

#contact-grid-container {
    display: grid;
    grid-template-columns: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: center;
    max-width: 100vw;
    align-items: center;
}

.contact-grid-item {
    display: flex;
    transition: 0.25s;
    width: 100%
}

.contact-grid-item:hover {
    /* background-color: #2f2e2e; */
    background-color: var(--dark-hover);
}

.contact-icon {
    width: 5vw;
}

#courtesy {
    font-size: calc(0.5rem + 1vw);
    font-style: italic;
    top: -20rem;
}

.work-button {
    width: 7vw;
    height: 7vw;
}

.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.arrow {
    width: 5vw;
    height: 5vw;
    /* transform: translateY(12.5rem); */

}

#left-arrow {
    transform: translate(calc(-32rem - 1vw), -50%);
    /* z-index: 1; */
}

#right-arrow {
    transform: translate(calc(26rem + 1vw), -50%) rotateY(180deg);
}

/* .fade {
    animation: fadein 1s ease-in-out 0s forwards;
} */
@media screen and (max-width: 790px) {
    #work-grid-container {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 390px) {
    .work-grid-item {
        width: calc(25rem + 1vw);
        height: calc(25rem + 1vw);
    }

    .arrow {
        transform: translate(-50%, -50%);
    }

    .work-grid-item-txt {
        margin-top: -1.5rem;
    }
}

#trait-container {
    height: 100vh;
}

.hcd {
    font-family: "Manrope";
    color: white;
    font-size: calc(8rem + 1vw);
    position: absolute;
  /*   opacity: 0; */
  /*   will-change: opacity; */
  /*   animation: rotate-fadein 1s ease-in-out 0.5s forwards */
  }
  
  #trait1 {
    margin-left: 1rem;
    right: 65%;
    bottom: 75%;
    transform: translateY(60%);
    text-align: center;
  /*   animation: rotate-fadein 1s ease-in-out 0.5s forwards; */
  }
  
  #trait2 {
      margin-right: 1rem;
      left: 55%;
      bottom: 45%;
      transform: translateY(5%);
  /*     animation: rotate-fadein-right 1s forwards; */
  /*     color: #0B0B0B */
  }
  
  #trait3 {
    margin-left: 1rem;
    right: 60%;
    bottom: 15%;
    transform: translateY(-60%);
    width: 50vw;
  /*   animation: rotate-fadein 1s forwards; */
  }