@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;500;700&family=Source+Serif+Pro:ital,wght@0,300;1,300&display=swap');

@keyframes slide {
    0% {
        transform: translate(-50%, -80vh);
        opacity: 0%;
    }

    100% {
        transform: translateY(-50%, -50%);
        opacity: 100%;
    }
}

@keyframes open {
    0% {
        opacity: 100%;
        width: 0%;
    }

    100% {
        opacity: 100%;
        width: 45%
    }
}

html, body {
    width: 100%;
    background-color: #202020;
    margin: 0;
    padding: 0;
    font-family: Prompt;
    text-align: center;
    color: #FFF8F0;
    font-size: 12px;
}

p {
    font-family: 'Source Serif Pro';
    font-weight: 300;
    padding-left: 10%;
    padding-right: 10%;
    font-size: calc(1rem + 1vw);
}

a {
    text-decoration: none;
    color: #FFF8F0;
}

#welcome-splash {
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: sticky;
}

#splash-img {
    filter: grayscale(55%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

#name {
    font-weight: 700;
    font-size: calc(4rem + 1vw);
    color: #EFA00B;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    will-change: opacity;
    animation: slide 2s ease-in-out 0s forwards;
    /* border-bottom: 3px solid #EFA00B;
    padding-left: 5px;
    padding-right: 5px; */
    /* margin-bottom: 5vw; */
    /* white-space: nowrap; */
}

#underline {
    border: 3px solid #EFA00B;
    will-change: max-width, opacity;
    opacity: 0%;
    width: 0%;
    transform: translateY(-40vh);
    animation: open 2s ease-in-out 2.25s forwards;
}

#splash-blurb {
    color: #FFF8F0;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 100%;
    font-style: italic;
    font-weight: 200;
    margin-top: 5vw;
    padding-left: 0;
    padding-right: 0;
    
}

.header {
    color: #C1292E;
    font-size: calc(5.333rem + 1vw);
}

.slide {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: #202020;
    max-width: 100%;
}

#work {
    background-color: #FFF8F0;
    min-height: 100vh;
    overflow-y: scroll;
}

#song-carriage {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    column-gap: 10vw;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: center;
}

.song-img {
    width: 15vw;
    border-radius: 50%;
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

.song-link {
    width: 15vw;
    margin: 0;
    padding: 0;
}

.song-img:hover {
    filter: brightness(50%);
    width: 16vw;
}

#work-grid-container {
    display: grid;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: center;
    max-width: 100vw;
    grid-template-columns: auto auto auto;
    /* overflow-y:scroll; */
}

/* #grid-scroll-container {
    overflow-y: scroll;
} */

.work-grid-item {
    background-color: #202020;
    width: calc(30rem + 1vw);
    height: calc(18rem + 1vw);
    min-width: calc(15rem + 1vw);
    min-height: calc(9rem + 1vw);
    justify-content: center;
    align-items: center;
    margin: calc(1.667rem + 1vw);
    /* margin: 20px; */
    /* border-radius: ; */
    box-shadow: inset 0 0 0 0 #7B6D8D;
    /* box-shadow: inset 0 0 0 0 #C1292E; */
    transition: 0.5s;
}

.work-grid-item:hover {
    box-shadow: inset calc(30rem + 1vw) 0 0 #7B6D8D;
}

.grid-item-txt {
    font-style: italic;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
}

.grid-item-h1 {
    font-size: calc(3rem)
}

.inner-link {
    text-decoration: underline;
}

#contact-grid-container {
    display: grid;
    grid-template-columns: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: center;
    max-width: 100vw;
    align-items: center;
}

.contact-grid-item {
    display: flex;
    transition: 0.25s;
    width: 100%
}

.contact-grid-item:hover {
    background-color: #2f2e2e;
}

.contact-icon {
    width: 5vw;
}

#courtesy {
    font-size: calc(0.5rem + 1vw);
    font-style: italic;
    top: -20rem;
}

@media screen and (max-width: 1250px) {
    #grid-container {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 360px) {
    .grid-item {
        width: calc(25rem + 1vw);
        height: calc(15rem + 1vw);
    }

    .grid-item-txt {
        margin-top: -1.5rem;
    }
}